<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIbaseURL</key>
	<string>https://run.mocky.io/v3/04dc1be1-8609-48c9-b4a0-27a363aa22a9</string>
	<key>API_KEY</key>
	<string>NYVu6FVU9WwiBBy9zp4iaWveE1SmWlnDFgEy32cH</string>
	<key>MyDictionary</key>
	<dict>
		<key>version</key>
		<integer>5</integer>
	</dict>
	<key>language</key>
	<string>Swift</string>
</dict>
</plist>
